.wraper{
      font-family: "Rubik Glitch", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
}
.container {
    font-family: "Shadows Into Light", sans-serif;
}
.complete {
    text-decoration: line-through;
}
.col-3 > :first-child:hover{
    border: 2px solid rgb(255, 64, 0) ; 
}
.col-2 :first-child:hover{
    border-color: rgb(21, 147, 7) ; 
}
